<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>Zephyr</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <nav>
        <ul id="menu">
          <li><a href="/about">Om oss</a></li>
        </ul>
      </nav>
    </header>

    <div id="box">
      <h1>Zephyr</h1>
      <h3>Rätt musik vid rätt tillfälle</h3>
      <form id="form" action="/result/" method="POST">
        <input type="text" name="city" id="city" placeholder="Sök efter din stad..." required>
        <br>
        <button type="submit" id="button" class="button"><span>Visa resultat</span></button>
      </form>
    </div>

    <footer>
      <p>&copy; Copyright Zephyr 2017</p>
    </footer>

  </body>
</html>
