<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>Zephyr</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <nav>
        <a href="/" id="go-back">&#x21DC; Ny sökning</a>
      </nav>
    </header>

    <div id="box">
      <h1>Zephyr</h1>
      <h3>Rätt musik vid rätt tillfälle</h3>
      <p>Tyvärr har vi ej tillgång att till städer utanför Sverige. Var god försök igen. 
      </p>
    </div>

    <footer>
      <p>&copy; Copyright Zephyr 2017</p>
    </footer>

  </body>
</html>
